@charcoal: hsla( 000, 000%, 025%, 1.0 );
@white: hsla( 000, 000%, 100%, 1.0 );
@grey: hsla( 000, 000%, 070%, 1.0 );
@gold: hsla( 045, 050%, 050%, 1.0 );
@yellow: hsla( 045, 075%, 075%, 1.0 );
@green: hsla( 115, 050%, 050%, 1.0 );
@red: hsla( 000, 050%, 050%, 1.0 );
@blue: hsla( 180, 050%, 050%, 1.0 );

@block: 3rem;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {

	margin: 0;
	padding: 0;
	background: @white;
	font-size: 20px;
	font-family: "MS PGOTHIC", Helvetica, sans-serif;

}

.button {

	display: inline-block;
	width: @block;
	height: @block;
	line-height: @block;

	text-align: center;
	background-color: @gold;
	color: @white;
	cursor: pointer;

	&:before {

		display: inline-block;
		color: inherit;

	}

	&:hover {

		background-color: @green;

	}

}

.add:before {

	content: "\FF0B";

}

.remove:before {

	content: "\FF0D";

}

.check {

	&.behind {

		background-color: @red;

	}

	&.current {

		background-color: @blue;

	}

	&:before {

		content: "\1F441";

	}
}

.backup:before {

	content: "\21F2";

}

.restore:before {

	content: "\21F1";

}

.close {

	position: fixed;
	top: 0;
	right: 0;

	background-color: @red;
	opacity: 0.7;

	&:before {

		content: "\00D7";

	}

	&:hover {

		background-color: @red;
		opacity: 1.0;

	}

}

.job-container {

	margin-top: @block;

	&:empty:before {

		content: "No Jobs";

	}

}

.job {

	position: relative;
	padding: 0.5rem;
	height: @block;

	.container {

		position: absolute;
		top: 0;
		height: 100%;
	
		font-size: 0;
	
		* {
	
			font-size: 1rem;
	
		}

	}

	.info {

		left: 0;

	}

	.action {

		right: 0;

	}

	.sourcepath {

		vertical-align: middle;

		&:after {

			content: "";
			display: inline-block;
			position: relative;
			height: 100%;
			width: 0;

		}

	}

	.timestamp {

		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 0.5rem;

	}

	&:nth-child( even ) {

		background: @grey;

	}

}